/* Row Colors */

/* DRAFT: light-blue #2ea2cc / #f7fcfe  */
#the-list .status-draft th.check-column { border-left:4px solid #2ea2cc; }
#the-list .status-draft th.check-column input { margin-left:4px; }
#the-list .status-draft th, #the-list .status-draft td { background-color:#f7fcfe; }

/* PENDING: lime #7ad03a / #f8fcf5  */
#the-list .status-pending th.check-column { border-left:4px solid #7ad03a; }
#the-list .status-pending th.check-column input { margin-left:4px; }
#the-list .status-pending th, #the-list .status-pending td { background-color:#f8fcf5; }

/* FUTURE: grey #aaaaaa / #f0f0f0  */
#the-list .status-future th.check-column { border-left:4px solid #aaaaaa; }
#the-list .status-future th.check-column input { margin-left:4px; }
#the-list .status-future th, #the-list .status-future td { background-color:#f0f0f0; }

/* PRIVATE: orange #ffba00 / #fcfaf5  */
#the-list .status-private th.check-column { border-left:4px solid #ffba00; }
#the-list .status-private th.check-column input { margin-left:4px; }
#the-list .status-private th, #the-list .status-private td { background-color:#fcfaf5; }

/* PROTECTED-PASSWORD: red #d54e21 / #fefaf7  */
#the-list .post-password-required th.check-column { border-left:4px solid #d54e21; }
#the-list .post-password-required th.check-column input { margin-left:4px; }
#the-list .post-password-required th, #the-list .post-password-required td { background-color:#fefaf7; }

/* Post Status Tags */
.post-state .states {
		font-size:10px;
		padding:3px 8px 3px 8px;
		-moz-border-radius:2px;
		-webkit-border-radius:2px;
		border-radius:2px;
		background:#999; /* default colors */
		color:#fff;
		white-space: nowrap;
		}
.post-state .draft {background:#2ea2cc;color:#fff;} 
.post-state .pending {background:#7ad03a !important;color:#fff;}
.post-state .private {background:#ffba00;color:#fff;} 
.post-state .protected {background:#d54e21;color:#fff;} 
.post-state .sticky { background:#9859b9;color:#fff; }
.post-state .future { background:#999;color:#fff; } /* not yet supported by wordpress */
.post-state .page_on_front { background:#23282d;color:#fff; } /* WP 4.2 */
.post-state .page_for_posts { background:#23282d;color:#fff; } /* WP 4.2 */

/* special icons */
.post-state .states:before {
	font-family: dashicons !important;
	speak: none;
	display: inline-block;
	vertical-align: -1px;
	margin-right:3px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

.post-state .draft:before {content: "\f464";}
.post-state .pending:before { content: "\f125"; }
.post-state .private:before { content: "\f160"; }
.post-state .protected:before { content: "\f112"; }
.post-state .sticky:before { content: "\f155"; }
.post-state .future:before { content: "\f508"; } /* not yet supported by wordpress */
.post-state .page_on_front:before { content: "\f102"; } /* WP 4.2 */
.post-state .page_for_posts:before { content: "\f109"; } /* WP 4.2 */


/* Archive Post Status Plugin Support */
#the-list .status-archive th.check-column { border-left:4px solid #a67c52; }
#the-list .status-archive th.check-column input { margin-left:4px; }
#the-list .status-archive th, #the-list .status-archive td { background-color:#f0f0f0; }
.post-state .archive { background:#a67c52;color:#fff; }
.post-state .archive:before { content: "\f480"; }
